In [3]:
import pandas as pd

In [11]:
import pandas as pd

# Membaca file Parquet
df = pd.read_parquet("yellow_tripdata_2024-01.parquet", engine="pyarrow", nrows=100)  # atau "fastparquet"

# Menampilkan beberapa baris pertama
print(df.head())

TypeError: read_table() got an unexpected keyword argument 'nrows'

In [12]:
df.to_csv("yellow_tripdata_2024-01.csv", index=False)

print("Konversi berhasil! File CSV telah disimpan.")

Konversi berhasil! File CSV telah disimpan.

In [13]:
df = pd.read_csv('yellow_tripdata_2024-01.csv',nrows=100)

In [14]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.00,1.0,22.70,2.5,0.00
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.00,1.0,18.75,2.5,0.00
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.00,1.0,31.30,2.5,0.00
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.00,1.0,17.00,2.5,0.00
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.00,1.0,16.10,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2024-01-01 00:54:16,2024-01-01 01:27:40,1.0,13.74,1.0,N,239,95,1,56.9,1.0,0.5,13.77,6.94,1.0,82.61,2.5,0.00
96,2,2024-01-01 00:13:58,2024-01-01 00:33:39,1.0,4.20,1.0,N,148,237,1,21.9,1.0,0.5,5.38,0.00,1.0,32.28,2.5,0.00
97,2,2024-01-01 00:35:53,2024-01-01 00:47:59,1.0,1.14,1.0,N,237,233,1,11.4,1.0,0.5,3.28,0.00,1.0,19.68,2.5,0.00
98,2,2024-01-01 00:50:28,2024-01-01 01:38:39,1.0,20.34,1.0,N,132,26,1,80.0,1.0,0.5,2.00,0.00,1.0,86.25,0.0,1.75
99,2,2024-01-01 00:18:24,2024-01-01 00:30:39,1.0,2.16,1.0,N,249,232,4,-13.5,-1.0,-0.5,0.00,0.00,-1.0,-18.50,-2.5,0.00

In [17]:
print(pd.io.sql.get_schema(df,name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "Airport_fee" REAL
)